{% extends 'base.html' %}
{% block content %}
    <h2>{{picture.title}}</h2>
    <h3>By {{picture.artist}}</h3>
    <img src="{{picture.url}}" alt="{{picture.title}}" />
      {% for comment in pic_com %}
        <ul>
          <li>
            <p>{{ comment.name }} | {{ comment.created_at }} </p>
            <p>{{ comment.message }} </p>
          </li>
        </ul>
      {% endfor %}
      <form class="comment_form" action="{% url 'create_comment'%}" method="post">
        <input type="hidden" name="picture" value="{{ picture.pk }}">

      </form>
{% endblock %}
