{% extends 'base.html' %}
{% block content %}
    <h2>{{picture.title}}</h2>
    <h3>By {{picture.artist}}</h3>
    <img src="{{picture.url}}" alt="{{picture.title}}" />
      {% for comment in pic_com %}
        <ul>
          <li>
            <p>{{ comment.name }} | {{ comment.created_at }} </p>
            <p>{{ comment.message }} </p>
          </li>
        </ul>
      {% endfor %}
      <form class="comment_form" action="{% url 'create_comment'%}" method="post">
        {% csrf_token %}
        <input type="hidden" name="picture" value="{{ picture.pk }}">
        <label for="commenter">Name</label>
        <input type="text" name="name" id="commenter">
        <textarea name="comment">Add your comment here</textarea>
        <input type="submit" name="submit" value="Send">
      </form>
{% endblock %}
