body {
  box-sizing: border-box;
}
footer {
  position: fixed;
  bottom: 0;
  background-color: #363636;
  width: 100%;
  text-align: center;
  color: white;
  padding: 0.5em;
  font-size: 1.0em;
}

h1 {
  color: #666666;
  font-weight: 200;
  padding: 0 0.5em;
}

hr {
  margin: 0 auto;
  color: lightgray;

}

main {
  box-sizing: border-box;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5em;
  padding: 0 0.5em;
}


img {
  width: 100%;
}

li {
  d
}


a {
  text-decoration: none;
  color: black;
}
