body {
  box-sizing: border-box;
}

h1 {
  color: #666666;
  font-weight: 600;
  padding: 0 0.5em;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  padding: 0 1.1em;
}
.darker {
  margin: 0 auto;
  background-color: gray;
  height: 1px;
}

hr {
  margin: 0 auto;
  background-color: #E8E8E8;
}

main {
  box-sizing: border-box;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr auto;
  grid-gap: 1em;
  padding: 0 0.5em;
  margin: 0 auto;
}

.picture img {
  width: 100%;
}

.picture {
  border: 1px solid lightgray;
  margin-top: 0.5em;
  padding: 0.2em;
}

.picture p {
  padding: 0 0.5em;
}

a {
  text-decoration: none;
  color: gray;
}

footer {
  bottom: 0;
  left: 0;
  background-color: #363636;
  width: 100%;
  text-align: center;
  color: white;
  padding: 0.5em;
  font-size: 1.0em;
  margin-top: 0.5em;
  /* margin: 0 auto; */
}

/* For tablet */

@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
  }
}

/* for smartphone */
@media screen and (max-width: 414px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}
